@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --txt-header: #2D3DDF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* สำหรับ Heading โดยเฉพาะ */
h1, h2, h3 {
  font-family: var(--font-poppins), sans-serif;
}

/* หรือใน Tailwind CSS */
.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.txt-title {
  color: var(--txt-header);
  font-weight: 600;
  font-family: Poppins;
  /* font-size: 48px; */
  line-height: normal;
}

